.photo {
    width: 200px;
    margin: 30px;
}

div {
    width: 50%;
}

.header-section {
  display: flex;
  flex-wrap: wrap;
  background-color: #D2CDE5;
}

@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

.navigation {
    line-height: 24px;
}