html {
    scroll-behavior: smooth; 
  }

body {
    min-height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 26px;
}

h1 {
    font-size: 2.5em;
}
.main-conteiner {
    margin: 30px auto;
    width: 1024px;
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    box-shadow: 5px 5px 20px -1px rgba(22, 57, 69, 0.4);
    border-radius: 15px;
}

.photo {
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 60px 30px 30px 60px;
    }


.header-section {
    display: flex;
  flex-wrap: wrap;
  background-color: #739aa5;
  border-radius: 15px 15px 0 0;
}

@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

.navigation {
    margin-top: 50px;
    /*border: 1px solid red;*/
}

.bold {
    font-weight: bold;
}

.main-section {
    margin: 60px;
    display: flex;
    flex-wrap: wrap;
}

section {
    margin: 0, 20px, 0, 20px;
    width: 50%;

}

.my-code {
    margin-left: 20px;
    margin-bottom: 60px;
    width: 80%;
    height: 130px;
    padding: 25px;
    background-color: #f5f9fb;
    border-radius: 9px;
    border: 1px solid rgb(232, 232, 232);
}

.pre {
    
}

.name {
    color: white;
}

.footer {
    
}

.rs-image {
    height: 30px;
}

* {
    box-sizing: border-box;
  }
/*
.conteiner {
    max-width: 1440px;
    margin: 0 auto;
}*/

a {
    text-decoration: none;
    font-weight: bold;
    color: #016a88;
}